<!-- Header Bar Start -->
  <div class="row header-bar" id="step2" ng-controller="TopHeaderController">

    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 hidden-xs hidden-sm">
    </div>

    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
      <ul class="right-icons" id="step3">
        <li>
            <a href="#" class="info">
              <i class="fa fa-info"></i>
              <div class="notify" ng-show="notificaciones.length != 0"> {{ notificaciones.length }} </div>
            </a>
            <ul class="dropdown big" ng-show="notificaciones.length == 0">
                <li>
                    <a href="javascript:;">
                        <i class="fa fa-warning"></i>
                        No tiene notificaciones pendientes
                    </a>
                </li>
            </ul>
            <ul class="dropdown big" ng-show="notificaciones.length != 0">
              <li ng-repeat="notificacion in notificaciones">
                <a href="{{ getLinkNotificacion(notificacion) }}" ng-click="marcarLeido(notificacion)">
                  <i class="fa fa-check-circle blue" ng-class="{'fa-calendar orange': notificacion.tipo == 'actividad', 'fa-comments blue': notificacion.tipo == 'mensajeAlumno', 'fa-check-circle green': notificacion.tipo == ''}"></i>
                  {{ getDescriptionNotificacion(notificacion) }}
                  <span class="description">
                      {{ formatDate(notificacion.fecha) }}
                  </span>
                </a>
              </li>
            </ul>
          </li>
        <li>
          <a href="#" class="user"><i class="fa fa-user"></i></a>
          <ul class="dropdown">
            <li><a href="/#/profile"><i class="fa fa-user"></i>Mi Perfil</a></li>
            <li><a href="javascript: void(0)" ng-click="logout()"><i class="fa fa-sign-out"></i>Cerrar Sesion</a></li>
          </ul>
        </li>
        <li>
          <a href="javascript: void(0)" ng-click="logout()" class="lock"><i class="fa fa-lock"></i></a>
        </li>
      </ul>
    </div>
  </div>
  <!-- Header Bar End -->
<!-- <div class="navbar navbar-default navbar-fixed-top" ng-controller="HeaderController">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Guarderia</a>
        </div>
        <center>
            <div class="navbar-collapse collapse" id="navbar-main">
                <ul class="nav navbar-nav">
                    <li ng-class="{active: menu == 'home'}">
                        <a href="/#">Inicio</a>
                    </li>
                    <li ng-show="isSuperAdmin == true" ng-class="{active: menu == 'guarderias'}">
                        <a href="/#/guarderias">Guarderias</a>
                    </li>
                    <li ng-show="isAdmin == true || isMaestro == true || isPadre == true" ng-class="{active: menu == 'alumnos'}">
                        <a href="/#/alumnos">Alumnos</a>
                    </li>
                    <li ng-show="isAdmin == true" ng-class="{active: menu == 'maestro'}">
                        <a href="/#/maestro">Maestros</a>
                    </li>
                    <li ng-show="isAdmin == true" ng-class="{active: menu == 'actividades'}">
                        <a href="/#/actividades">Catálogo</a>
                    </li>
                    <li ng-show="isAdmin == true || isMaestro == true" ng-class="{active: menu == 'grupos'}">
                        <a href="/#/grupos">Grupos</a>
                    </li>
                    <li ng-show="isAdmin == true || isMaestro == true" 
                    ng-class="{active: menu == 'registro'}">
                        <a href="/#/registro">Registro</a>
                    </li>
                    <li ng-show="isAdmin == true" 
                    ng-class="{active: menu == 'pagos'}">
                        <a href="/#/pagos">Pagos</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li ng-class="{active: menu == 'profile'}">
                        <a href="/#/profile">{{ currentUser._id }}</a>
                    </li>
                    <li>
                        <a href="javascript: void(0)" ng-click="logout()" class="text-danger">Cerrar Sesión</a>
                    </li>
                </ul>
            </div>
        </center>
    </div>
</div> -->