<style>
    body
    {
        padding-top: 70px;
    }
</style>

<div class="navbar navbar-inverse navbar-fixed-top" ng-controller="HeaderController">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Guarderia</a>
        </div>
        <center>
            <div class="navbar-collapse collapse" id="navbar-main">
                <ul class="nav navbar-nav">
                    <li ng-class="{active: menu == 'home'}">
                        <a href="/#">Inicio</a>
                    </li>
                    <li ng-show="isSuperAdmin == true" ng-class="{active: menu == 'guarderias'}">
                        <a href="/#/guarderias">Guarderias</a>
                    </li>
                    <li ng-show="isAdmin == true || isMaestro == true || isPadre == true" ng-class="{active: menu == 'alumnos'}">
                        <a href="/#/alumnos">Alumnos</a>
                    </li>
                    <li ng-show="isAdmin == true" ng-class="{active: menu == 'maestro'}">
                        <a href="/#/maestro">Maestros</a>
                    </li>
                    <li ng-show="isAdmin == true" ng-class="{active: menu == 'actividades'}">
                        <a href="/#/actividades">Catálogo</a>
                    </li>
                    <li ng-show="isAdmin == true || isMaestro == true" ng-class="{active: menu == 'grupos'}">
                        <a href="/#/grupos">Grupos</a>
                    </li>
                    <li ng-show="isAdmin == true || isMaestro == true" 
                    ng-class="{active: menu == 'registro'}">
                        <a href="/#/registro">Registro</a>
                    </li>
                    <li ng-show="isAdmin == true" 
                    ng-class="{active: menu == 'pagos'}">
                        <a href="/#/pagos">Pagos</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li ng-class="{active: menu == 'profile'}">
                        <a href="/#/profile">{{ currentUser._id }}</a>
                    </li>
                    <li>
                        <a href="javascript: void(0)" ng-click="logout()" class="text-danger">Cerrar Sesión</a>
                    </li>
                </ul>
            </div>
        </center>
    </div>
</div>