<section class="content login-page">

  <div class="content-liquid">
    <div class="container">

      <div class="row">

        <div class="login-page-container">

          <div class="boxed animated flipInY">
          <form ng-submit="login('desktop')">
            <div class="inner">

              <div class="login-title text-center">
                <img src="/images/logo-login.png" class="img-responsive" />
              </div>

                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-user"></i></span>
                  <input type="email" class="form-control" ng-required="true" ng-model="user.email" placeholder="E-mail">
                </div>

                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                  <input type="password" class="form-control" ng-required="true" ng-model="user.password" placeholder="Password">
                </div>

                <input type="submit" class="btn btn-lg btn-success" value="Iniciar Sesion" name="submit" id="submit" />
              

              <p class="footer">
                <div class="alert alert-danger" ng-show="showError">
                    {{ response }}
                </div>
              </p>

            </div>
            </form>
          </div>

        </div>

      </div>
      
    </div>
  </div>

</section>