<!-- Breadcrumbs Start -->
  <div class="row breadcrumbs">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <ul class="breadcrumbs">
         <li><a href="/#/"><i class="fa fa-home"></i></a></li>
         <li><a href="/#/alumnos">Alumnos</a></li>
         <li><a href="/#/alumnos/{{ alumnoId }}">{{ actualAlumno.nombre }} {{ actualAlumno.apPaterno }} {{ actualAlumno.apMaterno }}</a></li>
         <li><a href="/#/alumnos/{{ alumnoId }}/comment">Comentarios</a></li>
      </ul>
    </div>
  </div>
  <!-- Breadcrumbs End -->

<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

    <!-- Mail Table Start -->
    <div class="boxed mail-container">
        <div class="inner">

          <!-- Ticket Info -->
          <h2 class="ticket-id">{{ actualAlumno.nombre }} {{ actualAlumno.apPaterno }} {{ actualAlumno.apMaterno }}</h2>

          <div class="ticket" ng-repeat="mensaje in mensajes | orderBy : 'fecha' : true">
              <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                  <div class="user-info">
                    <img class="img-responsive img-circle" style="width: 80px; height: 80px" ng-src="/api/user/{{ mensaje.autor._id }}/picture/80"/>
                  </div>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-9 col-xs-12">
                  <p><strong>{{ mensaje.autor.display }}</strong> <br/> 
                  <span style="font-size: 11px; color: #333">{{ formatDate(mensaje.fecha) }}</span></p>
                  <p class="message">{{ mensaje.mensaje }}</p>
                </div>
              </div>
            </div>

          <form class="mail-compose" name="mensajeForm">

            <!-- Message Body -->
            <div class="row">
              <div class="col-lg-1 col-md-1 col-sm-12">
                <label for="message">Mensaje:</label>
              </div>
              <div class="col-lg-11 col-md-11 col-sm-12">
                <textarea name="message" ng-model="mensaje.mensaje" ng-required="true" cols="40" rows="10"></textarea>
              </div>
            </div>

            <!-- Send/Save as Draft -->
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 text-right">
                <button class="btn btn-success" ng-disabled="mensajeForm.$invalid" type="button" ng-click="send()">Enviar Mensaje</button>
              </div>
            </div>

          </form>
        </div>
    </div>
  </div>
</div>