<div class="container" ng-init="load()">
	<div class="row">
		<h1 ng-show="alumnoId == 0">Nuevo Alumno</h1>
		<h1 ng-show="alumnoId != 0">Editar Alumno</h1>
	</div>

	<div class="row">
		<form role="form" name="alumnoForm">
			<div class="form-group has-feedback col-md-12" ng-class="{'has-success': alumnoForm.nombre.$valid, 'has-error': alumnoForm.nombre.$invalid}">
				<label class="control-label">
					Nombre(s):
				</label>
				<input type="text" name="nombre" ng-model="actualAlumno.nombre" class="form-control" ng-required="true" />
			</div>
			<div class="form-group has-feedback col-md-6" ng-class="{'has-success': alumnoForm.apPaterno.$valid, 'has-error': alumnoForm.apPaterno.$invalid}">
				<label class="control-label">
					Apellido Paterno:
				</label>
				<input type="text" name="apPaterno" ng-model="actualAlumno.apPaterno" class="form-control" ng-required="true" />
			</div>
			<div class="form-group has-feedback col-md-6" ng-class="{'has-success': alumnoForm.apMaterno.$valid, 'has-error': alumnoForm.apMaterno.$invalid}">
				<label class="control-label">
					Apellido Materno:
				</label>
				<input type="text" name="apMaterno" ng-model="actualAlumno.apMaterno" class="form-control" ng-required="!actualAlumno.extranjero || actualAlumno.extranjero == false" />
			</div>
			<div class="form-group has-feedback col-md-4" ng-class="{'has-success': alumnoForm.fechaNacimiento.$valid, 'has-error': alumnoForm.fechaNacimiento.$invalid}">
				<label class="control-label">
					Fecha de nacimiento:
				</label>
				<input type="text" datepicker name="fechaNacimiento" ng-model="actualAlumno.fechaNacimiento" class="form-control" ng-required="true" />
			</div>
			<div class="form-group has-feedback col-md-4" ng-class="{'has-success': alumnoForm.tipoSangre.$valid, 'has-error': alumnoForm.tipoSangre.$invalid}">
				<label class="control-label">
					Tipo de sangre:
				</label>
				<select name="tipoSangre" ng-model="actualAlumno.tipoSangre" class="form-control" 
				ng-options="value for value in tiposSangre"
				ng-required="true"></select>
			</div>
			<div class="checkbox col-md-4">
				<br/>
			    <label>
			    	¿Es extranjero? <input type="checkbox" ng-model="actualAlumno.extranjero" /> 
				</label>
			</div>
			<h3 class="col-md-6">Contactos</h3>
			<h3 class="col-md-6">
				<button type="button" class="btn btn-success" ng-click="actualContacto = {}; showContactForm = true" ng-show="!showContactForm">Nuevo contacto</button>
				&nbsp;
			</h3>
			<div class="col-md-6">
				<div class="col-md-4" ng-repeat="contacto in actualAlumno.contactos" ng-init="contacto.showImageField = false">
					<a href="javascript: void(0)" ng-click="viewModal($index)">
						<img class="img-responsive img-circle" ng-show="!contacto.foto" src="/img/noimage.png" style="width: 125px; height: 125px"/>
						<img class="img-responsive img-rounded" ng-show="contacto.foto" ng-src="/api/alumno/cfoto/{{ alumnoId }}/{{ $index }}" style="width: 125px; height: 125px"/>
					</a>
					<div class="text-center">
						<div class="text-center">{{ contacto.name }}</div>
						<a class="btn btn-xs btn-primary" href="javascript: void(0)" ng-click="verDetalle(contacto)">Detalle</a>

						<button class="btn btn-xs btn-warning" ng-click="uploadImage(contacto)">Cambiar</button>

						<a class="btn btn-xs btn-danger" href="javascript: void(0)" ng-click="eliminarContacto($index)">Eliminar</a>

						<form></form>
						<form name="upload" action="/api/alumno/upload" method="post" enctype="multipart/form-data" novalidate class="simple-form">
								<input type="hidden" name="alumno_id" value="{{ alumnoId }}" />
								<input type="hidden" name="contacto_index" value="{{ $index }}" />
								<input type="file" name="foto" ng-show="contacto.showImageField == true"/>
								<br ng-show="contacto.showImageField == true"/>
								<input type="submit" class="btn btn-success btn-xs" ng-show="contacto.showImageField == true" value="Guardar" />
								<button type="button" ng-click="cancelImage(contacto)" class="btn btn-warning btn-xs" ng-show="contacto.showImageField == true">Cancelar</button>
						</form>
					</div>
				</div>
			</div>
			<div class="col-md-6" ng-show="showContactForm">
				<div class="form-group has-feedback" ng-class="{'has-success': actualContacto._id != '', 'has-error': !actualContacto._id || actualContacto._id == ''}">
					<label class="control-label">Correo:</label>
					<input type="email" ng-blur="buscaUsuario()" class="form-control" ng-model="actualContacto._id" />
				</div>
				<div class="form-group has-feedback" ng-class="{'has-success': actualContacto.name != '', 'has-error': !actualContacto.name || actualContacto.name == ''}">
					<label class="control-label">Nombre(s):</label>
					<input type="text" class="form-control" ng-model="actualContacto.name" />
				</div>
				<div class="form-group has-feedback" ng-class="{'has-success': actualContacto.apPaterno != '', 'has-error': !actualContacto.apPaterno || actualContacto.apPaterno == ''}">
					<label class="control-label">Apellido Paterno:</label>
					<input type="text" class="form-control" ng-model="actualContacto.apPaterno" />
				</div>
				<div class="form-group has-feedback" ng-class="{'has-success': actualContacto.apMaterno != '', 'has-error': !actualContacto.apMaterno || actualContacto.apMaterno == ''}">
					<label class="control-label">Apellido Materno:</label>
					<input type="text" class="form-control" ng-model="actualContacto.apMaterno" />
				</div>
				<div class="form-group" >
					<label class="control-label">Teléfono de contacto:</label>
					<input type="text" ng-model="actualTel" class="form-control" />
					<button type="button" ng-click="addTel()" class="btn btn-primary" ng-disabled="actualTel == null || actualTel == ''">Agregar</button>
				</div>
				<div class="form-group">
					<table class="table table-striped">
						<tr ng-repeat="tel in actualContacto.telefonos">
							<td>{{ tel }}</td>
							<td> <a href="javascript: void(0)" ng-click="removeTel($index)">X</a> </td>
						</tr>
					</table>
				</div>
				<div class="form-group">
					<button type="button" class="btn btn-success" ng-disabled="!actualContacto || !actualContacto.telefonos || actualContacto.telefonos.length == 0 || !actualContacto.name || actualContacto.name == '' || !actualContacto._id || actualContacto._id == ''" ng-click="addContacto()">Guardar Contacto</button>
					<button type="button" class="btn btn-danger" ng-click="actualContacto = {}; showContactForm = false">Cancelar</button>
				</div>
			</div>
			<div class="col-md-12">
				<br/>
				<span class=" col-md-6 alert alert-success" ng-show="successSave">Los cambios han sido guardados</span>
				<br/>
			</div>
			<div class="col-md-12">
				<button type="button" ng-click="save()" class="btn btn-success" ng-disabled="alumnoForm.$invalid || actualAlumno.contactos.length == 0">Guardar</button>
				<a href="/#/alumnos" class="btn btn-danger ">Cancelar</a>
			</div>
			<!-- ALERGIAS -->
			<!-- FOTO -->
		</form>

	</div>
</div>

<div class="modal fade" id="imgModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <img ng-src="/api/alumno/cfoto/{{alumnoId}}/{{contactoIndex}}" class="img-responsive" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
