<div class="container" ng-init="load()">
	<!-- Breadcrumbs Start -->
	  <div class="row breadcrumbs">
	    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	      <ul class="breadcrumbs">
	        <li><a href="/#"><i class="fa fa-home"></i></a></li>
	        <li><a href="/#/profile">Perfil</a></li>
	        <li><a href="/#/profile/new-password">Cambiar password</a></li>
	      </ul>
	    </div>
	  </div>
	  <!-- Breadcrumbs End -->

	<!-- Light Profile Start -->
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

          <div class="boxed profile light">
            <div class="inner">

              <!-- Profile Title Start -->
              <div class="title">
                <h3>Cambiar Password</h3>
                <a href="/#/profile" class="share-profile">Regresar al perfil</a>
              </div>
              <!-- Profile Title End -->

              <div class="row profile-data">
				<form role="form" name="newPasswordForm">
					<div class="form-group has-feedback" ng-class="{'has-success': newPasswordForm.password1.$valid, 'has-error': newPasswordForm.password1.$invalid}">
						<label class="control-label">Nuevo password:</label>
						<input type="password" ng-model="actualUser.password1" class="form-control" ng-required="true" name="password1"/>
					</div>
					<div class="form-group has-feedback" ng-class="{'has-success': newPasswordForm.password2.$valid, 'has-error': newPasswordForm.password2.$invalid}">
						<label class="control-label">Confirmar password:</label>
						<input type="password" ng-model="actualUser.password2" class="form-control" ng-required="true" name="password2"/>
					</div>
					<div class="form-group">
						<button class="btn btn-success" ng-disabled="newPasswordForm.$invalid || actualUser.password1 != actualUser.password2" ng-click="savePassword()">Guardar nuevo password</button>
					</div>
					<div class="alert alert-success col-md-6" ng-show="showSuccess">Los cambios han sido guardados</div>
				</form>
			</div>
		</div>
	     </div>
	</div>
</div>
