<div class="container" ng-init="load()">
	<div class="row">
		<h1>Nuevo password</h1>
	</div>

	<div class="col-md-12">
		<form role="form" name="newPasswordForm">
			<div class="form-group has-feedback" ng-class="{'has-success': newPasswordForm.password1.$valid, 'has-error': newPasswordForm.password1.$invalid}">
				<label class="control-label">Nuevo password:</label>
				<input type="password" ng-model="actualUser.password1" class="form-control" ng-required="true" name="password1"/>
			</div>
			<div class="form-group has-feedback" ng-class="{'has-success': newPasswordForm.password2.$valid, 'has-error': newPasswordForm.password2.$invalid}">
				<label class="control-label">Confirmar password:</label>
				<input type="password" ng-model="actualUser.password2" class="form-control" ng-required="true" name="password2"/>
			</div>
			<div class="form-group">
				<button class="btn btn-success" ng-disabled="newPasswordForm.$invalid || actualUser.password1 != actualUser.password2" ng-click="savePassword()">Guardar nuevo password</button>
			</div>
			<div class="alert alert-success col-md-6" ng-show="showSuccess">Los cambios han sido guardados</div>
		</form>
	</div>
</div>
